.icon-h{
    width: 24px;
    height: 24px;
    background: url('../images/index.png')no-repeat -164px -67px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.icon-n{
    width: 22px;
    height: 24px;
    background: url('../images/index.png')no-repeat -140px -67px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.icon-q{
    width: 24px;
    height: 24px;
    background: url('../images/index.png')no-repeat -136px -5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}